.picfix {
    overflow: hidden;
    height: 210px;
}

.checkboxmargin {
    margin-left: 20px;
}

.inputmargin {
    margin-left: -15px;
}

.inputborder {
    border: 2px solid #e5e5e5;
}

.publishfix {
    font-family: 'Montserrat';
    text-transform: none;
    font-size: 14px;
}

.recpostheight {
    height: 50px;
}

.owlheight {
    height: 400px;
}

.picuploadfix {
    font-family: 'Montserrat';
    font-size: 14px;
}

.btncolor {
    background-color: #ea526f;
    border-color: #ea526f;
    height: 35px;
    width: 40px;
}

.btn-btncolor {
    font-family: "Montserrat", sans-serif;
    font-style: oblique !important;
    color: #fff !important;
    background-color: #e8566d;
    border-color: #e8566d;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
}

    .btn-btncolor:hover {
        border: 1px solid #4a4a4a;
        background: #4a4a4a;
        color: #fff !important;
    }

.mylogout {
    cursor: pointer;
    padding: 16px 24px;
    clear: both;
    font-weight: 300;
    font-family: "Cinzel", serif;
    line-height: 1.42857143;
    color: #303030;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transition: all 0.35s ease-in-out;
    background-color: transparent;
    font-size: 14px;
    text-align: left;
    list-style: none;
}

.editbody textarea {
    height: 100px;
}

.bgeditbody textarea {
    height: 250px;
}

.btnmarginDetailsPg {
    margin-top: -20px;
}

.userpicfix {
    overflow: hidden;
    height: 200px;
    position: absolute; /* or fixed */
    margin-left: 25px;
}

.modalmaxwidth {
    max-width: 500px;
}

/*BOOTSTRAP PRIMARY BUTTON RE-FORMAT FOR SWEET ALERT*/
.btn-primary {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, 0);

    background-image: -webkit-linear-gradient(top, #e8566d 0%, #e8566d 100%);
    background-image: -o-linear-gradient(top, #e8566d 0%, #e8566d 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8566d), to(#e8566d));
    background-image: linear-gradient(to bottom, #e8566d 0%, #e8566d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8566d', endColorstr='#e8566d', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #e8566d;
}

.btn-primary:active,
.btn-primary.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #e8566d;
    background-position: 0 -15px;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #e8566d;
    border-color: #e8566d;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #e8566d;
    background-image: none;
}





