@model Meghan_Blog.Models.ResetPasswordViewModel

<!-- Login Header -->
<section id="articles" class="text-center">
    <div class="container">
        <div class="row">
            <article id="01" class="page-block col-md-12 page hentry">
                <div class="page-detail text-center">
                    <h2 class="entry-title page-title">Reset Password</h2>
                </div>
                <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
                <div class="e-divider-2"></div>
                <div class="inner-content"></div>
            </article>
        </div>
    </div>
</section>
<!-- /Login Header -->
<!-- Login -->
<section class="e-block-null text-center">
    <div class="container padding-side-60">

        <div class="row">
            <div class="col-md-12 e-centered text-center">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)

                    <div class="e-divider-2"></div>

                    <div class="field">
                        <input type="email" name="Email" placeholder="Email" required>
                    </div>
                    <div class="e-divider-1"></div>
                    <div class="field">
                        <input type="password" name="Password" placeholder="Password" required>
                    </div>
                    <div class="e-divider-1"></div>
                    <div class="field">
                        <input type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
                    </div>
                    <div class="e-divider-1"></div>
                    <div class="e-divider-2"></div>
                    <div class="field text-center">
                        <button type="submit" class="btn btn-lg btn-blk">Reset</button>
                    </div>
                    <div class="e-divider-2"></div>
                }
            </div><!-- end col-md-12 -->
        </div> <!-- end row -->

    </div>
    <div class="e-divider-4"></div>
</section>
<!-- /Login -->

<div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
<div class="e-divider-4"></div>
