@using Meghan_Blog.ViewModels

<!-- Content Sections -->
<div id="content">
    <div class="e-divider-2"></div>

    <!-- Register Header -->
    <section id="articles" class="text-center">
        <div class="container">
            <div class="row">
                <article id="01" class="page-block col-md-12 page hentry">
                    <div class="page-detail text-center">
                        <h2 class="entry-title page-title">Update Photo</h2>
                    </div>
                    <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
                    <div class="e-divider-2"></div>
                    <div class="inner-content"></div>
                </article>
            </div>
        </div>
    </section>
    <!-- end Register Header -->
    <!-- Register -->
    <section id="feedback-block" class="e-block-null text-center">
        <div class="container padding-side-60">

            <div class="row">
                @using (Html.BeginForm("UpdateImage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12 e-centered">
                        <div id="form-messages"></div>

                        <div class="field text-center">
                            <label for="file" class="btn btn-btncolor btn-sm btn-file">
                                Upload Photo<input type="file" name="UserPhoto" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" style="display: none;"/>
                            </label>
                        </div>
                        <div class="e-divider-1"></div>
                        <div class="field text-center">
                            <button type="submit" class="btn btn-lg btn-blk">Update</button>
                        </div>
                    </div><!-- end col-md-12 -->
                 }
                </div> <!-- end row -->

            </div>
        </section>
        <!-- /Register -->
        <div class="e-divider-6"></div>
        <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
        <div class="e-divider-4"></div>

    </div>
    <!-- /Content Sections -->
